body{
    background-color: rgb(18, 77, 47);
}

.corps {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1% 3px;
    grid-template-areas:
          ". ."
          ". ."
          ". .";
    border-width:1px;
    border-style:dotted;
    border-color:black;
    padding-left: 30px;
      }
     
  
  h1 {
    color: white;
    font-family: Impact, Charcoal, sans-serif;
    }

.row1 {
    display: grid;
    grid-template-columns: 30% auto auto;
}

.column1 {
    background: rgba(67, 88, 160, 0.322);
    opacity:0.4;
}

.column3 {
    
}

.historique{
    background-color: darkslategray;
}

section{
    padding padding-left: 30px;
}

li{
    list-style: square;
}