header {
  padding: 30px;
  text-align: center;
}

.text-center {
  display: inline-block;
  text-align: center;
  padding: 50px;
}

#nomprenom {
  font-family: "Alfa Slab One", cursive;
  font-size: 30px;
  letter-spacing: 0.8px;
  word-spacing: 1.4px;
  color: #8fc0a9;
}

#metier {
  font-size: 30px;
  letter-spacing: 0.6px;
  word-spacing: 1.4px;
  color: #10175a;
  margin-bottom: auto;
}

#junior {
  margin-top: 3px;
}

nav {
  display: inline-block;
  text-align: center;
  width: 100%;
}
p {
  font-family: Georgia, serif;
  font-size: 14px;
  letter-spacing: 0.2px;
  word-spacing: 2.2px;
  color: #000000;
  font-weight: 400;
  text-decoration: rgb(68, 68, 68);
  font-style: normal;
  font-variant: normal;
  text-transform: none;
}

.menu {
  margin: 3px 3px 3px 3px;
}

body {
  background: rgb(39, 90, 255);
  background: radial-gradient(#616161, #9198e5);
}

.entete {
  font-family: "Abril Fatface", cursive;
  display: inline;
  vertical-align: baseline;
}

.objectif_cadre {
  -webkit-box-shadow: -3px 5px 7px 0px #000000;
  box-shadow: -3px 5px 7px 0px #000000;
  display: block;
  padding-left: 30px;
  border-radius: 15px;
}

.intro {
  margin: 20px 1px 0px 0px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 1% 25px;

  padding-left: 30px;
  border-radius: 15px;
  background: #ffffff;
  -webkit-box-shadow: -23px 66px rgba(0, 0, 0, 0.06) inset,
    -63px 49px rgba(0, 0, 0, 0.06) inset, 17px -51px rgba(0, 0, 0, 0.06) inset,
    2px 5px rgba(0, 0, 0, 0.2);
  box-shadow: -23px 66px rgba(0, 0, 0, 0.06) inset,
    -63px 49px rgba(0, 0, 0, 0.06) inset, 17px -51px rgba(0, 0, 0, 0.06) inset,
    2px 5px rgba(0, 0, 0, 0.2);
}

li {
  list-style: square;
}

#competences {
  background-color: aqua;
  float: left;
}

aside {
  float: left;
}

.box-inner-shadow {
  /*start ------------*/
  width: [object Object]px;
  height: [object Object]px;
  background: #f8f8f8;
  border: solid #005af5 1px;
  box-shadow: -1px 1px 28px rgba(0, 0, 0, 0.3) inset;
  -webkit-box-shadow: -1px 1px 28px rgba(0, 0, 0, 0.3) inset;
  -moz-box-shadow: -1px 1px 28px rgba(0, 0, 0, 0.3) inset;
}

.svg-icon1 circle {
  stroke: #4691f6;
  stroke-width: 1;
}

.svg-icon2 {
  width: 3em;
  height: 3em;
  vertical-align: sub;
}

.svg-icon2 path,
.svg-icon2 polygon,
.svg-icon2 rect {
  fill: #4691f6;
}

.svg-icon2 circle {
  stroke: #4691f6;
  stroke-width: 1;
}

.svg-icon3 {
  width: 1em;
  height: 1em;
  vertical-align: sub;
}

.svg-icon3 path,
.svg-icon3 polygon,
.svg-icon3 rect {
  fill: #4691f6;
}

.svg-icon3 circle {
  stroke: #4691f6;
  stroke-width: 1;
}
