header {
  padding: 30px;
  text-align: center;
}

.text-center {
  display: inline-block;
  text-align: center;
  padding: 50px;
}

#nomprenom {
  font-family: "Alfa Slab One", cursive;
  font-size: 30px;
  letter-spacing: 0.8px;
  word-spacing: 1.4px;
  color: #000a35;
}

#metier {
  font-size: 30px;
  letter-spacing: 0.6px;
  word-spacing: 1.4px;
  color: #00810b;
  margin-bottom: auto;
}

nav {
  display: inline-block;
  text-align: center;
  width: 100%;
  margin-bottom: 30px;
}
p {
  font-family: Georgia, serif;
  font-size: 14px;
  letter-spacing: 0.2px;
  word-spacing: 2.2px;
  color: #000000;
  font-weight: 400;
  text-decoration: rgb(68, 68, 68);
  font-style: normal;
  font-variant: normal;
  text-transform: none;
}

.pcenter {
  text-align: center;
}
.menu {
  margin: 3px 3px 3px 3px;
}

body {
  background: rgb(255, 255, 255);
}

main {
  margin-top: 50px;
  display: grid;
  gap: 9px 7px;
  height: auto;
  margin: 15px 5% auto 5%;
  grid-template-columns: repeat(4, 25%);
  grid-template-rows: auto;
  grid-template-areas: "contact obj obj obj";
}

#cadre-obj {
  grid-area: obj;
}

h3 {
  float: right;
}

address {
  float: right;
}

#cadre-contact {
  grid-area: contact;
}

.img {
  max-height: 100px;
  min-height: 60px;
  width: auto;
  margin-right: 5px;
  border-radius: 5px;
}

.entete {
  font-family: "Abril Fatface", cursive;
  font-size: 30px;
  display: block;
  font-family: "Poppins", sans-serif;
  margin: 5px auto 10px 10px;
}

.cadre {
  box-shadow: 0 9px 15px rgba(0, 0, 0, 0.45);
  display: block;
  padding: 5px 30px 5px 30px;
  border-radius: 15px;
}

#cadre-skills {
  background-color: aqua;
}

.icone {
  width: 25px;
  position: relative;
  top: 5px;
  left: 5px;
}

.contact-liste li {
  list-style-type: none;
  text-align: right;
}

.progress-circle {
  position: inline; /* pour servir de référent */
  box-sizing: border-box; /* prise en compte bordure dans la dimension */
  font-size: 1em; /* pour définir les dimensions */
  width: 1em; /* fixe la largeur */
  height: 1em; /* fixe la hauteur */
  border-radius: 100%; /* rendu aspect circulaire */
  border: 0.15em solid #cde; /* couleur de fond de l'anneau */
  background-color: #fff; /* couleur de fond de la progress bar */
}
